<section class="w-full mt-20 bg-white flex justify-center">
  <div class="flex flex-col gap-0 md:flex-row md:gap-6">


    <div class="md:col-span-3">
      {% if section.settings.main_image != blank %}
        <img
        src="{{ section.settings.main_image | image_url: width: 1600 }}"
        width="1600"
        height="1600"
        alt="banner image"
        class="w-full md:w-[400px] h-[400px] md:h-[450px] object-cover">
        {% else %}
          {{ 'image' |  placeholder_svg_tag }}
      {% endif %}
      
    </div>


    <div class=" flex flex-col justify-center items-center text-center px-8 py-12" style="background-color: {{ section.settings.bg-color }};">
      <a href="{{ section.settings.links }}">
        <p class="uppercase text-extrabold text-sm px-16 text-gray-600" style="font-family:{{ section.settings.font_style }}">{{ section.settings.top_text }}</p>
        <h2 style="font-size:42px; font-weight:bold; font-family:{{ section.settings.font_style }}">{{ section.settings.heading }}</h2>
      </a>


    </div>

  </div>
</section>


{% schema %}
  {
    "name": "promo banner",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Baground color",
        "default": "#FBF7F6"
      },
      {
        "type": "image_picker",
        "id": "main_image",
        "label": "Banner Image"
      },
            {
  "type": "select",
  "id": "font_style",
  "label": "Font Family",
  "options": [
    { "value": "Outfit", "label": "Outfit" },
    { "value": "Poppins", "label": "Poppins" },
    { "value": "Inter", "label": "Inter" },
    { "value": "Roboto", "label": "Roboto" },
    { "value": "Montserrat", "label": "Montserrat" },
    { "value": "Lato", "label": "Lato" }
  ],
  "default": "Outfit"
},
      {
        "type": "text",
        "id": "top_text",
        "label": "Small Top Text",
        "default": "Spotlight-Worthy Sunglasses"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "BUY 1 GET 1"
      }, {
        "type": "url",
        "id": "links",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "name": "Image + promo banner"
      }
    ]
  }
{% endschema %}